// Place all the styles related to the buy controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  padding-top: 56px;
}
#categoriesMenu {
  padding-top: 1.5%;
}

#loginBox {
  padding-top: 1.5%;
}

#welcomePage {
  padding-top: 1.5%;
  padding-bottom: 10%;
}